.hidden {
  display: none;
}

#restart-button {
  padding: 15px;
  width: 200px;
  background: whitesmoke;
  color: darkslategray;
  position: absolute;
  z-index: 99;
  top: calc(50% + 75px);
  left: calc(50% - 100px);
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 300;
  letter-spacing: 1px;
}

#start-button:hover, #restart-button:hover, #easy-button:hover, #medium-button:hover, #hard-button:hover {
  background: darkslategray;
  color: whitesmoke;
}

#canvas {
  position: relative;
}

#easy-button {
  padding: 15px;
  width: 200px;
  background: whitesmoke;
  color: darkslategray;
  position: absolute;
  z-index: 99;
  top: calc(50%);
  left: calc(50% - 100px);
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 300;
  letter-spacing: 1px;
}

#medium-button {
  padding: 15px;
  width: 200px;
  background: whitesmoke;
  color: darkslategray;
  position: absolute;
  z-index: 99;
  top: calc(50% + 75px);
  left: calc(50% - 100px);
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 300;
  letter-spacing: 1px;
}

#hard-button {
  padding: 15px;
  width: 200px;
  background: whitesmoke;
  color: darkslategray;
  position: absolute;
  z-index: 99;
  top: calc(50% + 150px);
  left: calc(50% - 100px);
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 300;
  letter-spacing: 1px;
}